@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,300;1,600;1,700;1,900&family=Space+Mono:wght@700&display=swap');

$Strong-cyan: hsl(172, 67%, 45%);
$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
 
