@use 'variables';
@use 'initial';

.header__title{
    text-align: center;
    color: variables.$Dark-grayish-cyan;
    font-size:
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}