@use 'variables';

body{
    background-color: vari.$Light-grayish-cyan: hsl(185, 41%, 84%);;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}