@use 'variables';

*{
    padding: 0;
    mar
}
body{
    background-color: variables.$Light-grayish-cyan;
    font-family: variables.$font;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}